.pio/
.settings/
.vscode/
build/
managed_components/
*.code-workspace
sdkconfig.esp32-c6-devkitm-1.old
sdkconfig.local
sdkconfig*.local
!sdkconfig_example.local
.github/agents/
.github/instructions/

# Ignore Windows desktop metadata files
desktop.ini

# Local build artifact
ramses_esp_esp32_c6.bin

